 @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Fira+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

 *{
    margin: 0;
     padding: 0;
}
.sidebar{
    background-color: rgb(168, 166, 166);
    /* width: 200px ; */
    font-family: 'Fira Sans',sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 45px ;

}
.sidebar nav li{
    list-style: none;
    font-size: 15px; 
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: seagreen ; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro',monospace;
}
.hello{
    font-size: 65px;
}

.name{
   font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans',sans-serif;
}

.about{
    font-size: 40px;
} 
.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans',sans-serif;
}
.buttons{
    margin-top: 34px;
    
}
.buttons button{
   padding: 9px 14px;
   border-radius: 22px;
   color: white;
   background-color: dodgerblue;
   font-weight: bold;
   font-size: 21px;
   margin: 0 3px;
   cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.btn{
    margin-top: 34px;
    padding: 10px 19px;
   border-radius: 22px;
   color: white;
   background-color: dodgerblue;
   font-weight: bold;
   font-size: 14px;
   margin: 12px 0;
   cursor: pointer;

}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 58vh;
    
}

/* contact css code */
.contactform{
    padding:0 34px;
    padding-top:144px;
    font-family: 'Fira Sans',sans-serif;

}

.contactform h1{
    font-family: 'Source Code Pro',monospace;
   padding: 10px;

}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
    
}
#form-check input{
    width:24px;
    margin: 3px 0;
}
.blogitem{
    margin: 20px;
    font-family: 'Fira Sans',sans-serif;
        
}
h1{
    font-family: 'Fira Sans',sans-serif;
    margin: 23px;
}

p{
    font-family: 'Source Code Pro',monospace;

}
.intro h2{
    font-family: 'Fira Sans',sans-serif;
    margin: 12px;
}
.intro p{
    font-family: 'Source Code Pro',monospace;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;

}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro',monospace;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;

}
.hundered{
    width: 265px;
    background-color: blue;

}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 180px;
}
.image-container {
    display: flex;
}

.image-container img {
    width: 300px; /* Set your preferred width here */
    height: 200px; /* Set your preferred height here */
    margin-right: 15px; /* Add spacing between the images */
}

@media (max-width: 700px) {
      
    /* *{
        background-color: aquamarine;
    } 
    .sidebar{
          transform: translate(-443px, 0px);
          position: absolute;
    } */
}